/*Custom CSS*/
.text-small {
  font-size: 14px;
}

.text-tiny {
  font-size: 12px;
}

.float-right {
  float: right;
}

.small-margin-top-left {
  margin-top: 0px;
  margin-left: 2px;
}

.text-hover:hover {
  color: #000080;
  cursor: pointer
}

.icon-hover:hover {
  color: #FF0000;
  cursor: pointer
}

.margin-top {
  margin-top: 10px;
}

.jumbotron {
   padding: 1rem 1.5rem;
 }
